body{
    background-color: rgb(168, 4, 4);
    margin-top: 80px;
}

.no-underline-left {
  text-decoration: none;
  text-align: left;
}

.table-hover tbody tr:hover td {
    color: yellow;
  }

.card {
position: relative;
overflow: hidden;
transition: transform 0.3s;
cursor: pointer;
}

.card:hover {
transform: scale(1.05);
}

.card-img-top {
    height: 200px; /* the height */
    object-fit: cover;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .card:hover .card-overlay {
    opacity: 1;
    visibility: visible;
  }

  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card:hover .card-content {
    opacity: 1;
  }