{% macro links(user) %}
<ul class="nav nav-tabs p-3 bg-dark justify-content-center position-fixed" style="top: 0; width: 100%; z-index: 9999;">
    {% if not user %}
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/">Home</a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('login') }}">Login</a>
    </li>
    {% endif %} 
    {% if user %}
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('dashboard') }}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ url_for('logout') }}">Logout</a>
    </li>
    {% endif %} 
    {% if user %}
        <li class="nav-item">
            <a class="nav-link text-warning" href="{{ url_for('dashboard') }}">
                {{ user['name'] }} : Logged in as
                {% if user['klass'] in ["KG1", "KG2", "NUR1", "NUR2", "PRY1", "PRY2", "PRY3", "PRY4", "PRY5", "PRY6"] %}
                    student
                {% else %}
                    {{ user['role'] }}
                {% endif %}
            </a>
        </li>
    {% endif %}

</ul>

{% endmacro %} 

{% macro dashboard(user) %}

<div class="container p-5 my-5 border">
        <!-- Admin Dashboard -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% if user and user['role'] == "admin" %}
            <div class="col">
                <a href="allusers" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="static/users.png" alt="Card image" />
                    <div class="d-grid">
                        <a href="allusers" class="btn btn-primary btn-block">
                            View all Users
                        </a>
                    </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="register_student" class="card-link">
                    <div class="card">
                        <img class="card-img-top" src="static/e20.png" alt="Card image" />
                            <div class="d-grid">
                                <a href="register_student" class="btn btn-primary btn-block">
                                    Add Student
                                </a>
                            </div>             
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="register" class="card-link">
                    <div class="card">
                        <img class="card-img-top" src="static/e21.png" alt="Card image" />
                            <div class="d-grid">
                                <a href="register" class="btn btn-primary btn-block">
                                    Add Teacher/Admin
                                </a>
                            </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="resetpassword" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="static/man.png" alt="Card image" />
                        <div class="d-grid">
                            <a href="resetpassword" class="btn btn-primary btn-block">
                                Reset Password
                            </a>
                        </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="deleteuser" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="static/e22.png" alt="Card image" />
                        <div class="d-grid">
                            <a href="deleteuser" class="btn btn-primary btn-block">
                                Delete User
                            </a>
                        </div>
                </div>
                </a>
            </div>
            <div class="col">
                <a href="results_admin" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="static/e13.png" alt="Card image" />
                    <div class="d-grid">
                        <a href="results_admin" class="btn btn-primary btn-block">
                            View Results
                        </a>
                    </div>
                </div>
                </a>
            </div>
            {% endif %}
        </div>
  

     <!-- Teacher Dashboard-->
        <div class="row">
            {% if user and user['role'] == "teacher" %}
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="create_test" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e16.png" alt="Card image" />
                    <div class="card-overlay">
                      <div class="card-content">
                        <h5>Create Test</h5>
                      </div>
                    </div>
                    <div class="d-grid">
                      <a href="create_test" class="btn btn-success btn-block">
                        Create Test
                      </a>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="viewquiz" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e17.png" alt="Card image" />
                    <div class="card-overlay">
                      <div class="card-content">
                        <h5>View Test</h5>
                      </div>
                    </div>
                    <div class="d-grid">
                      <a href="viewquiz" class="btn btn-success btn-block">
                        View Test
                      </a>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="delete_test" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e13.png" alt="Card image" />
                    <div class="card-overlay">
                      <div class="card-content">
                        <h5>Delete Test</h5>
                      </div>
                    </div>
                    <div class="d-grid">
                      <a href="delete_test" class="btn btn-success btn-block">
                        Delete Test
                      </a>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="assign_test" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e18.png" alt="Card image" />
                    <div class="card-overlay">
                      <div class="card-content">
                        <h5>Assign Test</h5>
                      </div>
                    </div>
                    <div class="d-grid">
                      <a href="assign_test" class="btn btn-success btn-block">
                        Assign Test
                      </a>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="results_teacher" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e14.png" alt="Card image" />
                    <div class="card-overlay">
                      <div class="card-content">
                        <h5>View Student Results</h5>
                      </div>
                    </div>
                    <div class="d-grid">
                      <a href="results_teacher" class="btn btn-success btn-block">
                        View Student Results
                      </a>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
      
        <!--Student Dashboard-->
        <div class="row">
            {% if user and user['klass'] in ["KG1", "KG2", "NUR1", "NUR2", "PRY1", "PRY2", "PRY3", "PRY4", "PRY5", "PRY6"] %}
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="take_test" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e12.png" alt="Card image" />
                    <div class="card-body">
                      <div class="d-grid">
                        <a href="take_test" class="btn btn-primary btn-block">
                          Take assigned Test
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="tests_given" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/e14.png" alt="Card image" />
                    <div class="card-body">
                      <div class="d-grid">
                        <a href="tests_given" class="btn btn-primary btn-block">
                          View past tests
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <a href="results_student" class="card-link">
                  <div class="card">
                    <img class="card-img-top" src="static/computer.png" alt="Card image" />
                    <div class="card-body">
                      <div class="d-grid">
                        <a href="results_student" class="btn btn-primary btn-block">
                          View your Results
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
          
    </div>
</div>

{% endmacro %}

